<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="DataSource" class="java.lang.String">
		<constructor-arg type="String" value="java:comp/env/datasource/helloDS50"/> 
    </bean>
	
	<bean id="account" class="test2.service.account.JDBCAccount" scope="prototype"/>
	
	<bean id="mail" class="test2.service.mail.GoogleMail" />

	<bean id="messageModel" class="test2.viewmodel.MessageModel" />
	<bean id="accountModel" class="test2.model.AccountModel" />

	<bean id="LikePage" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/likePage"/>
    </bean>

    <bean id="likeSUCCESS" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/queryResult"/>
    </bean>
    
    <bean id="QUERY" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/query"/>
    </bean>

    <bean id="querySUCCESS" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/queryResult"/>
    </bean>
    
    <bean id="APPRECIATE" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/appreciate"/>
    </bean>
    
    <bean id="appreciateSUCCESS" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/appreciateSuccess"/>
    </bean>
    
    <bean id="listSUCCESS" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/listAccount"/>
    </bean>

    <bean id="ERROR" class="java.lang.String">
		<constructor-arg type="String" value="spring/test2/error"/>
    </bean>

</beans>