<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd">

	<bean id="REGISTER" class="java.lang.String">
		<constructor-arg type="String" value="finalProject/RegisterPage"/>
    </bean>
    
    <bean id="REGISTER_SUCCESS" class="java.lang.String">
		<constructor-arg type="String" value="finalProject/RegisterSuccess"/>
    </bean>
    
    <bean id="LOGIN" class="java.lang.String">
		<constructor-arg type="String" value="finalProject/LoginPage"/>
    </bean>
    
    <bean id="LOGIN_SUCCESS" class="java.lang.String">
		<constructor-arg type="String" value="finalProject/MenuPage"/>
    </bean>
    
    <bean id="ERROR" class="java.lang.String">
		<constructor-arg type="String" value="finalProject/error"/>
    </bean>
    
    <bean id="member_system" class="java.lang.String">
		<constructor-arg type="String" value="http://ilab.csie.ntut.edu.tw:8080/50_finalProject/spring/webservice/member" />
	</bean>
	
	<bean id="bank_system" class="java.lang.String">
		<constructor-arg type="String" value="http://ilab.csie.ntut.edu.tw:8080/final_53/spring/bank" />
	</bean>
</beans>